{
  "extends": "@pdw.io/eslint-config",
  "rules": {
    "react/destructuring-assignment": 0,
    "react/no-unused-state": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "react/no-unknown-property": 0,
    "react/jsx-tag-spacing": 0,
    "react/prop-types": 0,
    "no-return-assign": 0
  }
}
