.Information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: fixed;
  bottom: 2rem;
  right: 2rem;

  z-index: 1;
}

.Veczor {
  transition: background-color 600ms;

  &[data-alt-background] {
    background-color: var(--color-overlay);
  }
}
