/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
:focus:not(:focus-visible) {
  background-color: transparent;
  outline: none;
}

a,
button,
input,
select,
textarea,
summary,
[role="button"] {
  outline: none;
  transition: box-shadow 150ms ease-in-out;
  border-radius: 0.2rem;

  &:not([data-no-focus-style]).focus-visible {

    padding: 0.25rem;
    box-shadow: 0 0 0 0.25rem var(--color-a11y-focus-ring);
  }

}

.a11y-visually-hidden {
  @include a11y-visually-hidden;
}
