.Config, .Advanced {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  > * {
    margin: 0.5rem;
    display: block;
  }
}

.Config {
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    padding: 1rem;
    font-weight: bold;
    background-color: var(--color-overlay);
  }
}
