@mixin breakpoint($point) {
  @if $point == s {
    @media screen and (min-width: 321px) {@content}
  } @else if $point == m {
    @media screen and (min-width: 600px) {@content}
  } @else if $point == l {
    @media screen and (min-width: 1024px) {@content}
  } @else if $point == xl {
    @media screen and (min-width: 1600px) {@content}
  }
}

/** */

@mixin environment($type) {
  @if $type == 'hover' {
    @media (hover: hover) {@content}
  }
  @if $type == 'touch' {
    @media (pointer: coarse) {@content}
  }
  @if $type == 'dark' {
    @media (prefers-color-scheme: dark) {@content}
  }
  @if $type == 'no-motion' {
    @media (prefers-reduced-motion: reduce), (update: none), (update: slow) {@content}
  }
  @if $type == 'print' {
    @media print {@content}
  }
}

/** */

@mixin add-notch-padding {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@mixin type-aliasing {
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
 text-rendering: optimizeLegibility;
}

@mixin a11y-visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
