.Tile {
  display: grid;
  place-items: center;

  position: relative;
  width: 100%;
}

.Tile button {
  width: 100%;

  padding: 2rem;

  color: var(--dialog-color-button-type);
  font-weight: bold;

  background-color: var(--dialog-color-button);

  &:hover,
  &[data-focus-visible-added] {
    background-color: var(--dialog-color-button--hover);
  }
}
